{% extends 'triWeb/base.html' %}
{% load debugtools_tags %}
{% load staticfiles %}



{% block title %}
    <title xmlns="http://www.w3.org/1999/html">
        COS
    </title>
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Cos cluster</h1>
        <form id='run_cmd' action="/run_cmd/" target="_blank" method="post">
            <h2>Testbeds:</h2>

            <!-- Select the expected cli -->
            <script src="{% static  'bootstrap/js/jquery.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'jslist/jquery.cascadingdropdown.js' %}"></script>
            <script>
                $(document).ready(function () {
                    $('#clicmd').cascadingDropdown({
                        textKey: 'label',
                        valueKey: 'value',
                        selectBoxes: [
                            {
                                selector: '#cli_type_id',
                                paramName: 'tId',
                                url: 'get/cli/type'
                            },
                            {
                                selector: '#cli_category_id',
                                requires: ['#cli_type_id'],
                                paramName: 'cId',
                                url: 'get/cli/category',

                            },
                            {
                                selector: '#cli_name_id',
                                requires: ['#cli_type_id', '#cli_category_id'],
                                requireAll: true,
                                url: 'get/cli/name',
                                onChange: function (value) {
                                    {#                            alert(value);#}
                                    {#                            $("#cmd").innerHTML=value;#}
                                    var content = document.getElementById('cmd');
                                    content.value = value;
                                }
                            }

                        ]
                    });


                })

            <!-- hide/show the testbed detail info -->
            </script>
            {% for tb,type2devices in tb2devices.items %}
                <p class="text-primary">
                    <a href="testbeds/{{ tb.name }}" style="padding-left:6px"><strong> {{ tb.name }} </strong></a>
                    <a href="#" id={{ tb.name }}_show_or_hide> <font size="3"><i><u>show/hide</u></i></font></a>
                </p>
                <div id="{{ tb.name }}_devices">
                    {% for type,devices in  type2devices.items %}
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h2 class="panel-title">{{ type }}</h2>
                                    </div>
                                    {% for device in devices %}
                                        <div class="list-group-item">
                                            <input type="checkbox"
                                                   name={{ tb.name }}____{{ device.name }}> {{ device.name }} {{ device.ip }} </input>
                                        </div>

                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>

                <script>
                    $(document).ready(function () {

                        $("#{{ tb.name }}_devices").hide();

                        $({{ tb.name }}_show_or_hide).click(function () {
                            $("#{{ tb.name }}_devices").toggle();
                            var content = document.getElementById({{ tb.name }}_show_or_hide)
                        });

                    })


                </script>
            {% endfor %}

            <br>

            <h2>Services:</h2>

            <div class="form-inline" id="clicmd">
                <div class="input-group">
                    <select class="form-control" id="cli_type_id">
                        <option value="">Please select type</option>
                    </select>
                </div>
                <div class="input-group">
                    <select class="form-control" id="cli_category_id">
                        <option value="">Please select category</option>
                    </select>
                </div>
                <div class="input-group">
                    <select class="form-control" id="cli_name_id">
                        <option value="">Please select name</option>
                    </select>
                </div>

            </div>

            {#            <label for="sel_cmd" class="col-xs-1 btn btn-default">Action</label>#}
            {#            <div class="col-xs-5">#}
            {#                <select class="form-control" name="sel_cmd" id="sel_cmd">#}
            {##}
            {#                    {% for cmd in cmds.keys %}#}
            {##}
            {#                        <option>{{ cmd }}</option>#}
            {#                    {% endfor %}#}
            {##}
            {#                </select>#}
            {#            </div>#}
            {#            <a href="#" id=gen_cmd><strong>Do it!</strong></a>#}


            <br>
            <br>

            <h3 class="page-header">CMDs:</h3>

            <p class="col-xs-6 " align="left">
                <textarea name="cmd" class="form-control" rows="3" id="cmd"></textarea>
            </p>

            <button class="btn btn-warning" type="submit">Run</button>


            <br>
            <br>
            <br>


            <h3 class="page-header sr-only">Testbed Overview:</h3>
            <div id="ips">

            </div>


        </form>


    </div>




{% endblock content %}


