{% extends 'triWeb/base.html' %}
{% load debugtools_tags %}
{% load staticfiles %}



{% block title %}
    <title>
        COS
    </title>
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Cos cluster</h1>
        <form id='run_cmd' action="/run_cmd/" target="_blank" method="post">
            <h2>Testbeds:</h2>
            {% for tb,devices in tb2devices.items %}
                <p class="text-primary">
                    <input type="checkbox" name={{ tb.name }}> <strong>{{ tb.name }} </strong> [{{ devices|length }}
                    nodes]</input>

                    <script src="{% static  'bootstrap/js/jquery.min.js' %}"></script>
                    <script>
                        $(document).ready(function () {
                            $({{ tb.name }}).click(function () {
                                $.get('/ips/', {Action: 'get', Name: '{{ tb.name }}'}, function (data, status) {
                                    var content = document.getElementById('ips');
                                    content.innerHTML = 'Server List :' + '<br/>' + data;

                                })
                            })
                        })
                    </script>

                    <a href="#" id={{ tb.name }}> view </a>


                </p>

            {% endfor %}

{#            {% print tb2devices %}#}
{#            {% for tb,devices in tb2devices.items %}#}
{#                <ul>{{ tb.name }}</ul>#}
{#                {% for dv in devices %}#}
{##}
{#                    <li>{{ dv.name }}  {{ dv.ip }}</li>#}
{#                {% endfor %}#}
{#            {% endfor %}#}

{#            {% for tb in testbeds %}#}
{#                <a href="#" id={{ tb.name }}> {{ tb.name }} </a>#}
{#            {% endfor %}#}
{##}
{#            {% for cos in devices %}#}
{#                {{ cos.ip }}#}
{#            {% endfor %}#}
            <h3>IPs:</h3>
            <div id="ips">

            </div>
            </br>


            <input name="cmd" type="text">
            <button type="submit" onclick="myFunction()">RUN</button>
        </form>

        <div class="container">
            <div class="page-header">
                <h2>Services</h2>
            </div>
            <form class="form-horizontal" action="/cos_config/" role="form" method="post" target="_blank">
                <div class="row">
                    <label class="btn btn-default col-xs-1">Group</label>
                    <div class="col-xs-2">
                        <select class="form-control" name="sel_grp" id="sel_grp">

                            {% for group,ips in groups.items %}

                                <option>{{ group }}</option>
                            {% endfor %}

                        </select>
                    </div>
                </div>
            <br>
                <div class="row">
                    <label class="btn btn-info col-xs-1">Action</label>
                    <div class="col-xs-4">
                        <select class="form-control" name="sel_cmd" id="sel_cmd">

                            {% for cmd in cmds.keys %}

                                <option>{{ cmd }}</option>
                            {% endfor %}

                        </select>
                    </div>
                </div>

            <br>
            <div class="row">
                <button class="btn btn-warning" type="submit" >DONE</button>
            </div>

            </form>

        </div>

    </div>


{% endblock content %}


