{% load debugtools_tags %}
    <title>
        Remote hosts
    </title>

    <body>

        <form id='run_cmd' action="/run_cmd/" target="_blank" method="post">
        <h2>Groups:</h2>
        {% for group,ips in groups.items %}
            <label >
                <input type="checkbox" name={{ group }}> <strong>{{ group }} </strong> [{{ ips|length }} nodes]</input>
                <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
                <script>
                    $(document).ready(function () {
                        $({{ group }}).click(function () {
                            $.get('/ips/',{Action:'get',Name :'{{ group }}'},function(data,status) {
                                var content=document.getElementById('ips');
                                content.innerHTML='Server List :'+'<br/>'+data

{#                                $('#ips').html(data)#}
                            })
                        })
                    })
                </script>

                <a href="#" id={{ group }}> view </a>
            </label>

        {% endfor %}
        <h3>IPs:</h3>
        <div id="ips">

        </div>

        </br>

            <input name="cmd" type="text">
            <button type="submit">RUN</button>
        </form>

        <h3>Cos Operation</h3>
        <li><a href="/checkconfig_off_service/" target="_blank" method="post">Checkconfig off services</a></li>


    </body>




</html>
