{% extends 'triWeb/base.html' %}
{% load staticfiles %}
{% load debugtools_tags %}
{% load myfilter %}


{% block title %}
<title>
    Result
</title>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Result Updated</h1>
        </div>

        <h3> <span class="label label-default">Testbeds </span></h3>

        <h4>
{#            {% for tb_name,ip_list in tb_dict.items %}#}
{#                <span class="label label-info"><strong>{{ tb_name }}</strong></span>#}
{#                {% for ip in  ip_list %}#}
{#                    <br>#}
{#                    <span class="label label-primary">{{ ip2name|get_prop:ip}} {{ ip }}</span>#}
{##}
{#                {% endfor %}#}
{#                <br>#}
{#                <br>#}
{#            {% endfor %}#}
            {% for info in device_info_list %}

                <span class="label label-info">{{ info.0 }}   <strong>{{ info.1 }} {{ info.2 }}</strong></span>
                </br>
            {% endfor %}
        </h4>


        <div class="page-header">
            <h2>Commands</h2>
        </div>

        <div class="alert alert-success" role="alert">
            <strong>{{ cmd }}</strong>
        </div>

        <div class="page-header">
            <h2>Result</h2>
        </div>

{#        {% for ip,rst in rst_dict.items %}#}
{#            <div class="alert alert-warning" role="alert">#}
{#                <strong> Nodes: {{ ip2name|get_prop:ip}} {{ ip }}</strong>#}
{#            </div>#}
{#            <div class="alert alert-info" role="alert">#}
{#                <pre>{{ rst }}</pre>#}
{##}
{#            </div>#}
{#        {% endfor %}#}
    {% for info in device_info_list %}
        <div class="alert alert-warning" role="alert">
            <strong> Device:  {{ info.0 }} {{ info.1 }} {{ info.2 }}</strong>
        </div>
        <div class="alert alert-info" role="alert">
            <pre>{{ rst_dict|get_prop:info.2 }}</pre>

        </div>

    {% endfor %}




    {#    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>#}
    {#    <script type="text/javascript">#}
    {#        var auto_fresh = setInterval(#}
    {#                function() {#}
    {#                    $.get('/cmd_result/', {Action: 'get'}, function(data) {#}
    {#                        var content = document.getElementById('load');#}
    {#                        content.innerHTML = data;#}
    {#                    }).fadeIn("slow");#}
    {#                }, 2000#}
    {#        );#}
    {#    </script>#}

{#        <pre id='load'>#}
{##}
{#            {{ result }}#}
{#        </pre>#}

    </div>
{% endblock content %}


